<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349280087194-96scofac4ai7eou00647vtivi1rqbrgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349280087194-96scofac4ai7eou00647vtivi1rqbrgq</string>
	<key>API_KEY</key>
	<string>AIzaSyCaWCaIl5GHr-huQgxC1PeJN-BNMSNTbZw</string>
	<key>GCM_SENDER_ID</key>
	<string>349280087194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fashion.co</string>
	<key>PROJECT_ID</key>
	<string>fashion-e40e0</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion-e40e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349280087194:ios:debf72a5697dc73ee58323</string>
	<key>DATABASE_URL</key>
	<string>https://fashion-e40e0.firebaseio.com</string>
</dict>
</plist>